<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kesteli.filip.sciencebrowser1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Sci News"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".web.WebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".history.HistoryActivity"
            android:label="HISTORY"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".history.EurekaActivity"
            android:label="EUREKA"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".history.FavoriteActivity"
            android:label="FAVORITE"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".aplikacije.ClanciActivity" />
        <activity android:name=".aplikacije.RealityActivity" />
        <activity android:name=".aplikacije.EducationActivity" />
        <activity android:name=".aplikacije.KZInicijativaActivity" />
        <activity android:name=".aplikacije.ScienceActivity" />
        <activity android:name=".aplikacije.MotivatorActivity" />
        <activity android:name=".aplikacije.DonationActivity" />
        <activity android:name=".aplikacije.SmartCityActivity" />
        <activity android:name=".aplikacije.DemocracyActivity"></activity>
    </application>

</manifest>